[submodule "external/Sharpmake"]
	path = external/Sharpmake
	url = https://github.com/ubisoftinc/Sharpmake.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
